/* Add styling to sctually center the directions */
.map-container {
  height: 400px;
  width: 100%
}

.mapWrapper {
  width: 100%;
  flex-grow: 1;
  max-height: 320px;
  height: 320px;
  height: 100%;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.where + .cardContent > .mainContentContainer {
  display: none;
}